body {
  background: rgb(102, 101, 101) !important;
}
.modal-dialog-centered {
  padding-bottom: 12rem !important;
}
.centered th  {
  text-align: center;
}
.centered td  {
  text-align: center;
}
.remove-btn {
  background-color: red !important;
}
